.website-background{
    background-color: #FFF9F4;
}

.banner-img{
    width: 407px;
    height: 407px;
}

.span-color{
    color: #FA804C;
}

.heading-color{
    color: #363958;
}

.p-color{
    color: #3E3E3E;
}